doctype html
html(lang="ru")
  head
    title Карточки для изучения
    meta(harset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.page-header
      h1.page-header__title CatsCard
      img.page-header__logo(src="/images/logo.png", title="CatsCard", alt="Логотип CatsCard")
    ul.card-list
        li(class="card-list__item card card--active")
          dl.card__inner
            dt.card__face
              block question
            dd.card__back
              block answer
          .card__control-wrapper
            a.card__link(href="",title="Следующая карточка") Следующая